<center>
<h3> Autentificare </h3>

<form action="" method="POST">
E-mail
<br>
<input class="form-control" type="text" name="email" placeholder="Introduceti adresa dvs de email..." style="width:300px; font-size:16px" required>
<br><br>
Parola<br>
<input class="form-control" type="password" name="parola" placeholder="Introduceti parola..." style="width:300px; font-size:16px" required>
<br><br>
<input class="btn btn-info" type="submit" name="autentificare" value="Autentificare" style="width:300px; font-size:16px">
</form>

</center>